/* Auth Component Styles */
.auth-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Form Styles */
.contact-form {
    margin: 2rem auto;
}

.contact-form h1 {
    margin-bottom: 1.5rem;
}

/* General Button Styles */
button {
    margin: 0.5rem 0; /* Space between buttons */
}

/* Navbar Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* About Section Styles */
.about {
    padding: 3rem 1rem;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Additional Section Styles */
.pema {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 800px;
}
